name: Deploy to VPS

on:
  push:
    branches: [master]

jobs:
  build-and-push:
    name: Build & Push Docker Images to GHCR
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Consumer image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.consumer
          push: true
          tags: ghcr.io/epigie/go-kafka-consumer:latest

      - name: Build and push Producer image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.producer
          push: true
          tags: ghcr.io/epigie/go-kafka-producer:latest
