name: Deploy to VPS

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            cd /opt/notifications-microservice-test || exit
            git pull origin main
            go build -o producer cmd/producer/main.go
            go build -o consumer cmd/consumer/main.go
            pkill -f producer || true
            pkill -f consumer || true
            nohup ./producer > producer.log 2>&1 &
            nohup ./consumer > consumer.log 2>&1 &
