name: Build, Push & Deploy

on:
  push:
    branches: [master]

jobs:
  build-and-push:
    name: Build & Push Docker Images to GHCR
    runs-on: ubuntu-latest
    if: startsWith(github.event.head_commit.message, 'DEPLOY:')

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Consumer image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.consumer
          push: true
          tags: ghcr.io/epigie/notifications-consumer:latest

      - name: Build and push Producer image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.producer
          push: true
          tags: ghcr.io/epigie/notifications-producer:latest

  deploy:
    name: Deploy IMAGE to VPS
    runs-on: ubuntu-latest
    needs: build-and-push
    if: >
      (github.ref == 'refs/heads/production' || startsWith(github.ref, 'refs/heads/release/'))

    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd ${{ secrets.VPS_PATH }}
            docker compose pull
            docker compose up -d
